{
  "openapi": "3.1.0",
  "info": {
    "title": "orchagent API",
    "description": "AI agent deployment platform API",
    "version": "1.0.0",
    "contact": {
      "name": "orchagent Support",
      "url": "https://orchagent.io",
      "email": "support@orchagent.io"
    }
  },
  "servers": [
    {
      "url": "https://api.orchagent.io",
      "description": "Production server"
    }
  ],
  "paths": {
    "/public/agents": {
      "get": {
        "summary": "List public agents",
        "description": "Get a list of all public agents on the platform",
        "operationId": "listPublicAgents",
        "tags": ["Public"],
        "responses": {
          "200": {
            "description": "List of public agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/PublicAgent"
                  }
                }
              }
            }
          }
        }
      }
    },
    "/public/agents/{org}/{agent}/{version}": {
      "get": {
        "summary": "Get agent details",
        "description": "Get detailed information about a specific agent",
        "operationId": "getPublicAgent",
        "tags": ["Public"],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Organization slug"
          },
          {
            "name": "agent",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Agent name"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Agent version (e.g., v1)"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent details",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PublicAgent"
                }
              }
            }
          },
          "404": {
            "description": "Agent not found"
          }
        }
      }
    },
    "/{org}/{agent}/{version}/{endpoint}": {
      "post": {
        "summary": "Call an agent",
        "description": "Execute an agent with the provided input",
        "operationId": "callAgent",
        "tags": ["Agents"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "org",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Organization slug"
          },
          {
            "name": "agent",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Agent name"
          },
          {
            "name": "version",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Agent version"
          },
          {
            "name": "endpoint",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Agent endpoint"
          },
          {
            "name": "X-Orchagent-Max-Hops",
            "in": "header",
            "required": false,
            "schema": { "type": "integer" },
            "description": "Maximum call chain depth"
          },
          {
            "name": "X-Orchagent-Tenant",
            "in": "header",
            "required": false,
            "schema": { "type": "string" },
            "description": "Tenant ID for usage attribution"
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object"
              }
            },
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent response",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AgentResponse"
                }
              }
            }
          },
          "400": { "description": "Invalid input" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Agent not found" },
          "429": { "description": "Rate limited" }
        }
      }
    },
    "/usage": {
      "get": {
        "summary": "Get usage summary",
        "description": "Get your usage summary for the current period",
        "operationId": "getUsage",
        "tags": ["Usage"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 30 },
            "description": "Number of days to include"
          },
          {
            "name": "tenant_id",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Filter by tenant ID"
          }
        ],
        "responses": {
          "200": {
            "description": "Usage summary",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UsageSummary"
                }
              }
            }
          }
        }
      }
    },
    "/agents": {
      "get": {
        "summary": "List your agents",
        "description": "Get a list of agents you own",
        "operationId": "listAgents",
        "tags": ["Agent Management"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of agents",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Agent"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Register new agent",
        "description": "Register a new agent on the platform",
        "operationId": "createAgent",
        "tags": ["Agent Management"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateAgentRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Agent created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateAgentResponse"
                }
              }
            }
          }
        }
      }
    },
    "/agents/{id}/upload": {
      "post": {
        "summary": "Upload code bundle",
        "description": "Upload a ZIP bundle for a code-based agent",
        "operationId": "uploadAgentBundle",
        "tags": ["Agent Management"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Agent ID"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "properties": {
                  "bundle": {
                    "type": "string",
                    "format": "binary",
                    "description": "ZIP file containing agent code"
                  }
                },
                "required": ["bundle"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Bundle uploaded successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/UploadBundleResponse"
                }
              }
            }
          },
          "400": { "description": "Invalid bundle" },
          "401": { "description": "Unauthorized" },
          "413": { "description": "Bundle too large (max 25MB)" }
        }
      }
    },
    "/agents/{id}/logs": {
      "get": {
        "summary": "Get execution logs",
        "description": "Get execution logs for a sandbox agent (owner only)",
        "operationId": "getAgentLogs",
        "tags": ["Agent Management"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Agent ID"
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 50 },
            "description": "Number of log entries to return"
          },
          {
            "name": "before",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "format": "date-time" },
            "description": "Return logs before this timestamp"
          }
        ],
        "responses": {
          "200": {
            "description": "Execution logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ExecutionLog"
                  }
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Not the agent owner" },
          "404": { "description": "Agent not found" }
        }
      }
    },
    "/agents/{id}/delete-check": {
      "get": {
        "summary": "Check delete confirmation requirements",
        "description": "Check whether an agent requires name confirmation before deletion. Returns star/fork counts and whether confirmation is needed. Use mode=all_versions to aggregate across all versions.",
        "operationId": "checkAgentDelete",
        "tags": ["Agent Management"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Agent ID"
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["all_versions"] },
            "description": "Set to all_versions to aggregate stars/forks across all versions"
          }
        ],
        "responses": {
          "200": {
            "description": "Deletability check result",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteCheckResponse"
                }
              }
            }
          },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Agent not found" }
        }
      }
    },
    "/agents/{id}": {
      "delete": {
        "summary": "Delete an agent",
        "description": "Soft-delete an agent. Data is retained for 30 days. Agents with 10+ stars or forks require confirmation_name matching the agent name. Use mode=all_versions to delete every version at once.",
        "operationId": "deleteAgent",
        "tags": ["Agent Management"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Agent ID"
          },
          {
            "name": "confirmation_name",
            "in": "query",
            "required": false,
            "schema": { "type": "string" },
            "description": "Agent name for confirmation (required when agent has 10+ stars or forks)"
          },
          {
            "name": "mode",
            "in": "query",
            "required": false,
            "schema": { "type": "string", "enum": ["all_versions"] },
            "description": "Set to all_versions to delete every version of this agent"
          }
        ],
        "responses": {
          "200": {
            "description": "Agent deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteAgentResponse"
                }
              }
            }
          },
          "400": { "description": "Confirmation required or name mismatch" },
          "401": { "description": "Unauthorized" },
          "404": { "description": "Agent not found" }
        }
      }
    },
    "/agents/{id}/fork": {
      "post": {
        "summary": "Fork an agent",
        "description": "Create a private copy of a public, source-available agent in your workspace. The forked agent copies all configuration, prompts, schemas, code bundles, and skills from the source. Stats, run history, schedules, and services are not copied. The forked agent is always created as private.",
        "operationId": "forkAgent",
        "tags": ["Agent Management"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": { "type": "string" },
            "description": "Source agent ID"
          }
        ],
        "requestBody": {
          "required": false,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ForkAgentRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Agent forked successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ForkAgentResponse"
                }
              }
            }
          },
          "400": { "description": "Agent is not public or not source-available" },
          "401": { "description": "Unauthorized" },
          "403": { "description": "Not a member of the target workspace" },
          "404": { "description": "Agent not found" }
        }
      }
    },
    "/usage/compute": {
      "get": {
        "summary": "Get compute usage",
        "description": "Get compute usage statistics for sandbox agents",
        "operationId": "getComputeUsage",
        "tags": ["Usage"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          {
            "name": "days",
            "in": "query",
            "required": false,
            "schema": { "type": "integer", "default": 30 },
            "description": "Number of days to include"
          }
        ],
        "responses": {
          "200": {
            "description": "Compute usage statistics",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ComputeUsageStats"
                }
              }
            }
          }
        }
      }
    },
    "/workspaces": {
      "get": {
        "summary": "List workspaces",
        "description": "Get a list of workspaces you belong to",
        "operationId": "listWorkspaces",
        "tags": ["Workspaces"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of workspaces",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Workspace" }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create workspace",
        "description": "Create a new team workspace",
        "operationId": "createWorkspace",
        "tags": ["Workspaces"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "description": "Display name" },
                  "slug": { "type": "string", "description": "URL-safe identifier (auto-generated if omitted)" }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Workspace created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Workspace" }
              }
            }
          }
        }
      }
    },
    "/workspaces/{id}/members": {
      "get": {
        "summary": "List workspace members",
        "operationId": "listWorkspaceMembers",
        "tags": ["Workspaces"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Workspace ID" }
        ],
        "responses": {
          "200": {
            "description": "List of members",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "user_id": { "type": "string" },
                      "email": { "type": "string" },
                      "role": { "type": "string", "enum": ["owner", "member"] },
                      "joined_at": { "type": "string", "format": "date-time" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/workspaces/{id}/invite": {
      "post": {
        "summary": "Invite member to workspace",
        "operationId": "inviteWorkspaceMember",
        "tags": ["Workspaces"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Workspace ID" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "email": { "type": "string" },
                  "role": { "type": "string", "enum": ["owner", "member"], "default": "member" }
                },
                "required": ["email"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Invitation sent" },
          "400": { "description": "Invalid email or already a member" }
        }
      }
    },
    "/workspaces/{id}/secrets": {
      "get": {
        "summary": "List workspace secrets",
        "description": "List secret names in a workspace (values are never returned)",
        "operationId": "listSecrets",
        "tags": ["Secrets"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Workspace ID" }
        ],
        "responses": {
          "200": {
            "description": "List of secret names",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "name": { "type": "string" },
                      "created_at": { "type": "string", "format": "date-time" },
                      "updated_at": { "type": "string", "format": "date-time" }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "summary": "Set a workspace secret",
        "description": "Create or update a secret. Values are encrypted at rest.",
        "operationId": "setSecret",
        "tags": ["Secrets"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Workspace ID" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": { "type": "string", "description": "Secret name (e.g., ANTHROPIC_API_KEY)" },
                  "value": { "type": "string", "description": "Secret value" }
                },
                "required": ["name", "value"]
              }
            }
          }
        },
        "responses": {
          "200": { "description": "Secret set" },
          "400": { "description": "Invalid secret name" }
        }
      }
    },
    "/workspaces/{id}/secrets/{name}": {
      "delete": {
        "summary": "Delete a workspace secret",
        "operationId": "deleteSecret",
        "tags": ["Secrets"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Workspace ID" },
          { "name": "name", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Secret name" }
        ],
        "responses": {
          "200": { "description": "Secret deleted" },
          "404": { "description": "Secret not found" }
        }
      }
    },
    "/workspaces/{id}/schedules": {
      "get": {
        "summary": "List schedules",
        "description": "List cron and webhook schedules in a workspace",
        "operationId": "listSchedules",
        "tags": ["Schedules"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Workspace ID" },
          { "name": "agent_name", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Filter by agent name" },
          { "name": "type", "in": "query", "required": false, "schema": { "type": "string", "enum": ["cron", "webhook"] }, "description": "Filter by schedule type" }
        ],
        "responses": {
          "200": {
            "description": "List of schedules",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Schedule" }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create schedule",
        "description": "Create a cron or webhook schedule for an agent",
        "operationId": "createSchedule",
        "tags": ["Schedules"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Workspace ID" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/CreateScheduleRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Schedule created",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Schedule" }
              }
            }
          }
        }
      }
    },
    "/workspaces/{id}/schedules/{schedule_id}": {
      "get": {
        "summary": "Get schedule details",
        "operationId": "getSchedule",
        "tags": ["Schedules"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Workspace ID" },
          { "name": "schedule_id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Schedule ID" }
        ],
        "responses": {
          "200": {
            "description": "Schedule details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Schedule" }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update schedule",
        "description": "Update schedule configuration (cron expression, timezone, input data, enabled status)",
        "operationId": "updateSchedule",
        "tags": ["Schedules"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Workspace ID" },
          { "name": "schedule_id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Schedule ID" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "cron_expression": { "type": "string" },
                  "timezone": { "type": "string" },
                  "input_data": { "type": "object" },
                  "enabled": { "type": "boolean" },
                  "pin_version": { "type": "boolean" },
                  "alert_webhook_url": { "type": "string" },
                  "alert_on_failure_count": { "type": "integer" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Schedule updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Schedule" }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete schedule",
        "operationId": "deleteSchedule",
        "tags": ["Schedules"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Workspace ID" },
          { "name": "schedule_id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Schedule ID" }
        ],
        "responses": {
          "200": { "description": "Schedule deleted" }
        }
      }
    },
    "/workspaces/{id}/schedules/{schedule_id}/trigger": {
      "post": {
        "summary": "Trigger schedule",
        "description": "Manually trigger a schedule execution",
        "operationId": "triggerSchedule",
        "tags": ["Schedules"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Workspace ID" },
          { "name": "schedule_id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Schedule ID" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "input_data": { "type": "object", "description": "Override input data for this execution" }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Execution result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookTriggerResponse" }
              }
            }
          }
        }
      }
    },
    "/webhooks/{schedule_id}/{secret}": {
      "post": {
        "summary": "Webhook trigger",
        "description": "Trigger an agent execution via webhook URL. No authentication header needed — the URL contains the secret.",
        "operationId": "webhookTrigger",
        "tags": ["Schedules"],
        "parameters": [
          { "name": "schedule_id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Schedule ID" },
          { "name": "secret", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Webhook secret token" },
          { "name": "idempotency-key", "in": "header", "required": false, "schema": { "type": "string" }, "description": "Idempotency key to prevent duplicate executions" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "description": "Input data merged with the schedule's default input_data"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Execution result",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/WebhookTriggerResponse" }
              }
            }
          },
          "400": { "description": "Invalid JSON body" },
          "403": { "description": "Invalid webhook secret" },
          "404": { "description": "Schedule not found" }
        }
      }
    },
    "/workspaces/{id}/services": {
      "get": {
        "summary": "List services",
        "description": "List always-on services in a workspace",
        "operationId": "listServices",
        "tags": ["Services"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Workspace ID" },
          { "name": "status", "in": "query", "required": false, "schema": { "type": "string" }, "description": "Filter by service status" }
        ],
        "responses": {
          "200": {
            "description": "List of services",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": { "$ref": "#/components/schemas/Service" }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Deploy a service",
        "description": "Deploy an agent as an always-on service",
        "operationId": "deployService",
        "tags": ["Services"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Workspace ID" }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/DeployServiceRequest" }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Service deployed",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Service" }
              }
            }
          }
        }
      }
    },
    "/workspaces/{id}/services/{service_id}": {
      "get": {
        "summary": "Get service details",
        "operationId": "getService",
        "tags": ["Services"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Workspace ID" },
          { "name": "service_id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Service ID" }
        ],
        "responses": {
          "200": {
            "description": "Service details",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Service" }
              }
            }
          }
        }
      },
      "patch": {
        "summary": "Update service config",
        "description": "Update environment variables, secrets, or alert configuration. Triggers a restart if the service is running.",
        "operationId": "updateService",
        "tags": ["Services"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Workspace ID" },
          { "name": "service_id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Service ID" }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "env": { "type": "object", "description": "Full replacement of environment variables" },
                  "secret_names": { "type": "array", "items": { "type": "string" }, "description": "Full replacement of attached secrets" },
                  "alert_webhook_url": { "type": "string" },
                  "max_restart_failures": { "type": "integer", "minimum": 1, "maximum": 50 }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Service updated",
            "content": {
              "application/json": {
                "schema": { "$ref": "#/components/schemas/Service" }
              }
            }
          }
        }
      },
      "delete": {
        "summary": "Delete a service",
        "operationId": "deleteService",
        "tags": ["Services"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Workspace ID" },
          { "name": "service_id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Service ID" }
        ],
        "responses": {
          "200": { "description": "Service deleted" }
        }
      }
    },
    "/workspaces/{id}/services/{service_id}/restart": {
      "post": {
        "summary": "Restart a service",
        "operationId": "restartService",
        "tags": ["Services"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Workspace ID" },
          { "name": "service_id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Service ID" }
        ],
        "responses": {
          "200": { "description": "Service restarted" }
        }
      }
    },
    "/workspaces/{id}/services/{service_id}/logs": {
      "get": {
        "summary": "Get service logs",
        "operationId": "getServiceLogs",
        "tags": ["Services"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Workspace ID" },
          { "name": "service_id", "in": "path", "required": true, "schema": { "type": "string" }, "description": "Service ID" },
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 100, "maximum": 500 }, "description": "Number of log lines" },
          { "name": "since", "in": "query", "required": false, "schema": { "type": "string", "format": "date-time" }, "description": "Return logs since this timestamp" }
        ],
        "responses": {
          "200": {
            "description": "Service logs",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "lines": { "type": "array", "items": { "type": "object", "properties": { "timestamp": { "type": "string" }, "severity": { "type": "string" }, "message": { "type": "string" } } } }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billing/balance": {
      "get": {
        "summary": "Get credit balance",
        "description": "Get your current credit balance",
        "operationId": "getBillingBalance",
        "tags": ["Billing"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "Credit balance",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "balance_cents": { "type": "integer", "description": "Balance in cents" },
                    "currency": { "type": "string", "default": "usd" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billing/checkout": {
      "post": {
        "summary": "Add credits",
        "description": "Create a Stripe Checkout session to add credits",
        "operationId": "createCheckout",
        "tags": ["Billing"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "amount_usd": { "type": "integer", "minimum": 5, "description": "Amount in USD (minimum $5)" }
                },
                "required": ["amount_usd"]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Checkout session URL",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "checkout_url": { "type": "string", "description": "Stripe Checkout URL" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/billing/history": {
      "get": {
        "summary": "Get billing history",
        "description": "Get credit transaction history (top-ups, charges, refunds)",
        "operationId": "getBillingHistory",
        "tags": ["Billing"],
        "security": [{ "bearerAuth": [] }],
        "parameters": [
          { "name": "limit", "in": "query", "required": false, "schema": { "type": "integer", "default": 50 }, "description": "Number of transactions" }
        ],
        "responses": {
          "200": {
            "description": "Transaction history",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": { "type": "string" },
                      "type": { "type": "string", "enum": ["top_up", "charge", "refund"] },
                      "amount_cents": { "type": "integer" },
                      "description": { "type": "string" },
                      "created_at": { "type": "string", "format": "date-time" }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api-keys": {
      "get": {
        "summary": "List API keys",
        "description": "Get a list of your API keys",
        "operationId": "listApiKeys",
        "tags": ["API Keys"],
        "security": [{ "bearerAuth": [] }],
        "responses": {
          "200": {
            "description": "List of API keys",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/ApiKey"
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "summary": "Create API key",
        "description": "Create a new API key",
        "operationId": "createApiKey",
        "tags": ["API Keys"],
        "security": [{ "bearerAuth": [] }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "name": {
                    "type": "string",
                    "description": "Key name"
                  }
                },
                "required": ["name"]
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "API key created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiKeyWithSecret"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "description": "API key authentication"
      }
    },
    "schemas": {
      "PublicAgent": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "org": { "type": "string" },
          "version": { "type": "string" },
          "type": { "type": "string", "enum": ["agent", "skill"] },
          "run_mode": { "type": "string", "enum": ["on_demand", "always_on"], "nullable": true },
          "execution_engine": { "type": "string", "enum": ["direct_llm", "managed_loop", "code_runtime"], "nullable": true },
          "callable": { "type": "boolean" },
          "description": { "type": "string" },
          "supported_providers": { "type": "array", "items": { "type": "string" } },
          "default_endpoint": { "type": "string" },
          "timeout_seconds": { "type": "integer" },
          "tags": { "type": "array", "items": { "type": "string" } }
        }
      },
      "Agent": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "version": { "type": "string" },
          "type": { "type": "string", "enum": ["agent", "skill"] },
          "run_mode": { "type": "string", "enum": ["on_demand", "always_on"], "nullable": true },
          "execution_engine": { "type": "string", "enum": ["direct_llm", "managed_loop", "code_runtime"], "nullable": true },
          "callable": { "type": "boolean" },
          "description": { "type": "string" },
          "is_public": { "type": "boolean" },
          "created_at": { "type": "string", "format": "date-time" },
          "updated_at": { "type": "string", "format": "date-time" }
        }
      },
      "AgentResponse": {
        "type": "object",
        "properties": {
          "data": { "type": "object" },
          "warnings": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "code": { "type": "string" },
                "field": { "type": "string" },
                "message": { "type": "string" }
              }
            }
          },
          "metadata": {
            "type": "object",
            "properties": {
              "request_id": { "type": "string" },
              "processing_time_ms": { "type": "integer" },
              "version": { "type": "string" }
            }
          }
        }
      },
      "UsageSummary": {
        "type": "object",
        "properties": {
          "total_calls": { "type": "integer" },
          "calls_remaining": { "type": "integer" },
          "period_start": { "type": "string", "format": "date-time" },
          "period_end": { "type": "string", "format": "date-time" }
        }
      },
      "CreateAgentRequest": {
        "type": "object",
        "properties": {
          "name": { "type": "string" },
          "version": { "type": "string" },
          "type": { "type": "string", "enum": ["agent", "skill"], "default": "agent" },
          "run_mode": { "type": "string", "enum": ["on_demand", "always_on"], "default": "on_demand" },
          "runtime": { "type": "object", "properties": { "command": { "type": "string" } } },
          "loop": { "type": "object", "properties": { "max_turns": { "type": "integer" } } },
          "callable": { "type": "boolean", "default": false },
          "is_public": { "type": "boolean" },
          "description": { "type": "string" },
          "tags": { "type": "array", "items": { "type": "string" } },
          "supported_providers": { "type": "array", "items": { "type": "string" } },
          "default_endpoint": { "type": "string" },
          "timeout_seconds": { "type": "integer" },
          "source_url": { "type": "string" }
        },
        "required": ["name", "version", "type"]
      },
      "CreateAgentResponse": {
        "type": "object",
        "properties": {
          "agent": { "$ref": "#/components/schemas/Agent" },
          "service_key": { "type": "string" },
          "service_key_prefix": { "type": "string" }
        }
      },
      "ApiKey": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "prefix": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" },
          "last_used_at": { "type": "string", "format": "date-time" }
        }
      },
      "ApiKeyWithSecret": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "key": { "type": "string", "description": "Full API key (only shown once)" },
          "prefix": { "type": "string" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "UploadBundleResponse": {
        "type": "object",
        "properties": {
          "bundle_id": { "type": "string", "description": "Unique ID for the uploaded bundle" },
          "size_bytes": { "type": "integer", "description": "Size of the uploaded bundle" },
          "entrypoint": { "type": "string", "description": "Detected entrypoint file" },
          "status": { "type": "string", "enum": ["processing", "active", "error"] },
          "uploaded_at": { "type": "string", "format": "date-time" }
        }
      },
      "ExecutionLog": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "request_id": { "type": "string" },
          "agent_id": { "type": "string" },
          "started_at": { "type": "string", "format": "date-time" },
          "completed_at": { "type": "string", "format": "date-time" },
          "duration_ms": { "type": "integer" },
          "status": { "type": "string", "enum": ["success", "error", "timeout"] },
          "exit_code": { "type": "integer" },
          "stdout": { "type": "string", "description": "Standard output (truncated to 10KB)" },
          "stderr": { "type": "string", "description": "Standard error (truncated to 10KB)" }
        }
      },
      "DeleteCheckResponse": {
        "type": "object",
        "properties": {
          "agent_id": { "type": "string" },
          "agent_name": { "type": "string" },
          "stars_count": { "type": "integer", "description": "Stars on this version (or total when mode=all_versions)" },
          "fork_count": { "type": "integer", "description": "Forks from this version (or total when mode=all_versions)" },
          "requires_confirmation": { "type": "boolean", "description": "True if agent has 10+ stars or 1+ forks" },
          "version_count": { "type": "integer", "description": "Number of versions (only present when mode=all_versions)" }
        }
      },
      "DeleteAgentResponse": {
        "type": "object",
        "properties": {
          "deleted": { "type": "boolean" },
          "agent_id": { "type": "string" },
          "agent_name": { "type": "string" },
          "version_count": { "type": "integer", "description": "Number of versions deleted (only present when mode=all_versions)" }
        }
      },
      "ForkAgentRequest": {
        "type": "object",
        "properties": {
          "workspace_id": { "type": "string", "description": "Target workspace ID. If omitted, forks into the caller's current workspace." },
          "new_name": { "type": "string", "description": "Custom name for the forked agent. If omitted, uses the source agent's name." }
        }
      },
      "ForkAgentResponse": {
        "type": "object",
        "properties": {
          "agent": { "$ref": "#/components/schemas/Agent" },
          "service_key": { "type": "string", "description": "Service API key for the forked agent (shown only once)" },
          "service_key_prefix": { "type": "string", "description": "Key prefix for identification" }
        }
      },
      "Workspace": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "name": { "type": "string" },
          "slug": { "type": "string" },
          "owner_user_id": { "type": "string" },
          "member_count": { "type": "integer" },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "Schedule": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "workspace_id": { "type": "string" },
          "agent_id": { "type": "string" },
          "agent_name": { "type": "string" },
          "agent_version": { "type": "string" },
          "type": { "type": "string", "enum": ["cron", "webhook"] },
          "cron_expression": { "type": "string", "nullable": true },
          "timezone": { "type": "string" },
          "input_data": { "type": "object", "nullable": true },
          "enabled": { "type": "boolean" },
          "pin_version": { "type": "boolean" },
          "webhook_url": { "type": "string", "nullable": true, "description": "Webhook URL (only returned on creation)" },
          "consecutive_failures": { "type": "integer" },
          "max_consecutive_failures": { "type": "integer" },
          "last_run_at": { "type": "string", "format": "date-time", "nullable": true },
          "last_run_status": { "type": "string", "nullable": true },
          "total_runs": { "type": "integer" },
          "next_run_at": { "type": "string", "format": "date-time", "nullable": true },
          "created_at": { "type": "string", "format": "date-time" }
        }
      },
      "CreateScheduleRequest": {
        "type": "object",
        "properties": {
          "agent_id": { "type": "string", "description": "Agent ID to schedule" },
          "type": { "type": "string", "enum": ["cron", "webhook"] },
          "cron_expression": { "type": "string", "description": "Cron expression (required for type=cron)" },
          "timezone": { "type": "string", "default": "UTC" },
          "input_data": { "type": "object", "description": "Default input data for each execution" },
          "pin_version": { "type": "boolean", "default": false },
          "provider": { "type": "string", "description": "LLM provider override" }
        },
        "required": ["agent_id", "type"]
      },
      "WebhookTriggerResponse": {
        "type": "object",
        "properties": {
          "run_id": { "type": "string" },
          "status": { "type": "string", "enum": ["success", "error", "timeout"] },
          "duration_ms": { "type": "integer" },
          "output": { "type": "object", "nullable": true },
          "error": { "type": "string", "nullable": true },
          "deduplicated": { "type": "boolean", "description": "True if idempotency key matched an existing run" }
        }
      },
      "Service": {
        "type": "object",
        "properties": {
          "id": { "type": "string" },
          "workspace_id": { "type": "string" },
          "agent_id": { "type": "string" },
          "agent_name": { "type": "string" },
          "name": { "type": "string" },
          "state": { "type": "string", "enum": ["provisioning", "running", "paused", "error", "deleting"] },
          "health": { "type": "string", "enum": ["healthy", "unhealthy", "unknown"] },
          "restart_count": { "type": "integer" },
          "consecutive_restart_failures": { "type": "integer" },
          "max_restart_failures": { "type": "integer" },
          "env": { "type": "object", "description": "Environment variables" },
          "secret_names": { "type": "array", "items": { "type": "string" } },
          "min_instances": { "type": "integer" },
          "max_instances": { "type": "integer" },
          "deployed_at": { "type": "string", "format": "date-time" },
          "last_restart_at": { "type": "string", "format": "date-time", "nullable": true }
        }
      },
      "DeployServiceRequest": {
        "type": "object",
        "properties": {
          "agent_id": { "type": "string", "description": "Agent ID to deploy" },
          "name": { "type": "string", "description": "Service name (defaults to agent name)" },
          "min_instances": { "type": "integer", "default": 1 },
          "max_instances": { "type": "integer", "default": 1 },
          "env": { "type": "object", "description": "Environment variables (sensitive values rejected)" },
          "secret_names": { "type": "array", "items": { "type": "string" }, "description": "Additional workspace secrets to attach" },
          "command": { "type": "string", "description": "Override entrypoint command" },
          "args": { "type": "array", "items": { "type": "string" }, "description": "Command arguments" }
        },
        "required": ["agent_id"]
      },
      "ComputeUsageStats": {
        "type": "object",
        "properties": {
          "total_executions": { "type": "integer", "description": "Total sandbox agent executions" },
          "executions_remaining": { "type": "integer", "description": "Remaining executions this period" },
          "total_compute_seconds": { "type": "number", "description": "Total compute time in seconds" },
          "period_start": { "type": "string", "format": "date-time" },
          "period_end": { "type": "string", "format": "date-time" },
          "by_agent": {
            "type": "array",
            "items": {
              "type": "object",
              "properties": {
                "agent_id": { "type": "string" },
                "agent_name": { "type": "string" },
                "executions": { "type": "integer" },
                "compute_seconds": { "type": "number" }
              }
            }
          }
        }
      }
    }
  }
}
